@charset "UTF-8";

.bg {
	position: absolute;
	left: 0px;
}
.what2 {
	position: absolute;
}
.what3 {
	position: absolute;
}
.what4 {
	position: absolute;
}
.what5 {
	position: absolute;
}
.what6 {
	position: absolute;
}
.what7 {
	position: absolute;
}
